**__pycache__**
Results*
srun_outs*
*.png
*.pkl
*.csv
*.svg
*.pyc
*.err
*.out
*.h5
useless
*ipynb_checkpoints*
show_results
fitting_scripts
py_scripts/*_resume.py
*saveMaps*
*showMemo*
*singlePatch*
utils/epoch_detect

calculate_psd.py
dice_score_weight.py
memo_analyse.py
test_statistics.py
utils.py
